.container {
  font-family: monospace;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  background: #082f4f;
  color: white;
  margin: 0px;
  justify-content: space-around;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cover {
  float: center;
  background: beige;
  width: 100vw;
  height: 20vh;
  text-align: center;
  color: black;
}

.navbar {
  background: #004266;
  width: 100vw;
  height: 3vh;
}

.navbarButton {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row#content {
  background: #015170;
  margin-top: 2vh;
  
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column#content {
  background: #015170;
  width: 80vw; 
}

.news {
  border-style: solid;
  padding: 5px;
}
table, th, td {
  border: 1px solid;
}

table#comparison {
  background: #004266;
}

table#osrs_skills {
  background: #004266;
  width: 50vw;
  text-align: center;
  margin: 10px;
}

#osrs_skills tr td {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#osrs_skills th {
  height: 5vh;
  font-size: 11pt;
}

.osrs_skills_info {
  width: 5%;
}
.osrs_skills_desc {
  width: 50%
}

.skill_icon {
  width: 20px;
  height: 20px;
}

