a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul li {
  line-height: 175%;
}

.container {
  font-family: "Sarabun";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: #031012;
  color: white;
  margin: 0px;
  justify-content: space-around;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cover {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 35vh;
  text-align: center;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.overlayText {
  color: white;
  font-size: 58pt;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Comic Mono', 'Waree';
}
.overlay {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  transition: .5s ease;
  background-color: #0d1417;
}

/* .cover:hover .overlay {
  opacity: 0.8;
} */
img#cover1 {
  border-radius: 5px;
  opacity: 80%;
  width: 100%
}

.navbar {
  background: #031012;
  width: 100%;
  height: 4vh;
}

.navbarButton {
  color: white;
  font-family: "Comic Mono", "Waree";
  background-color: #062024;
  border-color: #0d1417;
  border-style: outset;
  border-width: 1px;
  border-radius: 5px;
  padding: 2px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row#content {
  background: #093238;
  margin-top: 2vh;
  border-radius: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column#content {
  background: #093238;
  padding: 5px;
  width: 80vw;
  border-radius: 5px;

}

.news {
  border-style: solid;
  padding: 5px;
}
table,
th,
td {
  border: 1px solid;
}

table#comparison {
  background: #07292e;
  align-self: center;
}

#comparison tr td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#comparison th {
  height: 4vh;
  font-size: 11pt;
  padding-right: 5px;
  padding-left: 5px;
}
table#osrs_skills {
  align-self: center;
  background: #07292e;
  width: 50vw;
  text-align: center;
  margin: 10px;
}

#osrs_skills tr td {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#osrs_skills th {
  height: 5vh;
  font-size: 11pt;
}

.osrs_skills_info {
  width: 5%;
}
.osrs_skills_desc {
  width: 50%;
}

.skill_icon {
  width: 20px;
  height: 20px;
}
