@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600;700&display=swap");

* {
  margin: 0;
  line-height: 150%;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}


@media (max-width: 768px){
  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.90rem;
  }
}